/* DS */

/* fonts - Geist */
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Geist:wght@100..900&family=Inter:wght@100..900&display=swap");
/* fonts - Inter */
@import url("https://rsms.me/inter/inter.css");

:root {
  --background: hsl(0 0% 95%);
  --foreground: hsl(0 0% 2%);
  --muted: hsl(0 0% 80%);
  --muted-foreground: hsl(0 0% 40%);
  --border: hsl(0 0% 60%);
  --link-color: blue;

  --radius: 0.5rem;
  --font-family: "Geist", "Inter", system-ui, sans-serif;
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  :root {
    --background: hsl(0 0% 2%);
    --foreground: hsl(0 0% 85%);
    --muted: hsl(0 0% 6%);
    --muted-foreground: hsl(0 0% 50%);
    --border: hsl(0 0% 15%);
    --link-color: lightblue;
  }
}

/* GLOBALS */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 2rem 2rem;
  font-family: var(--font-family);
  font-size: 1rem;
  background: var(--background);
  color: var(--foreground);
}

/* Gloabls - Typo */
h1 {
  font-weight: 500;
}
h2 {
  font-weight: 500;
}
h3 {
  font-weight: 500;
}
h4 {
  font-weight: 500;
}

/* Globals - All */

* {
  border-width: 0px;
  border-style: solid;
  border-color: var(--border);
}
/* Globals - Link */
a {
  color: var(--link-color);
  opacity: 0.8;
}
a:hover {
  opacity: 1;
}

/* Globals - Button */
button {
  min-height: 2.25rem;
  padding: 0.5rem 1rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: var(--foreground);
  color: var(--background);
  border-width: 1px;
  border-radius: var(--radius);
  font-weight: 500;
  font-size: 0.9rem;
  cursor: pointer;
  opacity: 1;
}
button:hover {
  opacity: 0.8;
}

/* Globals - Input */

input,
textarea {
  min-height: 2.25rem;
  padding: 0.65em;
  display: inline-flex;
  border-width: 1px;
  border-radius: var(--radius);
  background: var(--background);
}
select {
  min-height: 2.25rem;
  padding: 0 0.65em;
  display: inline-flex;
  align-items: center;
  border-width: 1px;
  border-radius: var(--radius);
  background: var(--background);
  box-shadow: 0px 0px 0px 1px var(--border);
  border: none;
  border-right: 0.8rem solid transparent;
}

input[type="checkbox"] {
  width: 1.5rem;
  height: 1.5rem;
}

/* Globals - Form */

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

form .form-field {
  display: grid;
  grid-template-columns: 7rem minmax(0, 1fr);
  gap: 1rem;
  align-items: center;
  justify-items: stretch;
}

form .form-field > label {
  font-size: 0.9rem;
  font-weight: 300;
}
form .form-field:has(input[type="checkbox"]) > input {
  justify-items: start;
}
form .form-field > p {
  grid-column: span 2;
  color: var(--muted-foreground);
}

/* Component - Layout */

.section {
  padding: 1rem 1.5rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-width: 1px;
  border-radius: var(--radius);
  background: var(--muted);
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2rem;
}

.block {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.25rem;
  border-width: 1px;
  border-radius: var(--radius);
  background: var(--background);
}
.block > p {
  margin: 0;
}

/* Component - Result */

.result {
  width: 100%;
  max-width: 100%;
  overflow: auto;
  white-space: pre;
  font-size: 0.9rem;
  line-height: 1.5;
  background: var(--background);
  color: var(--muted-foreground);
  padding: 1rem;
  border-width: 1px;
  border-radius: var(--radius);
}

/* Utility */

.text-muted-foreground {
  color: var(--muted-foreground);
}
