@import "tailwindcss";

/* DS */

/* fonts - Geist */
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Geist:wght@100..900&family=Inter:wght@100..900&display=swap");
/* fonts - Inter */
@import url("https://rsms.me/inter/inter.css");

:root {
  --background: hsl(0 0% 95%);
  --foreground: hsl(0 0% 2%);
  --muted: hsl(0 0% 80%);
  --muted-foreground: hsl(0 0% 40%);
  --border: hsl(0 0% 60%);
  --link-color: blue;
  --font-family: "Geist", "Inter", system-ui, sans-serif;
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  :root {
    --background: hsl(0 0% 2%);
    --foreground: hsl(0 0% 85%);
    --muted: hsl(0 0% 6%);
    --muted-foreground: hsl(0 0% 50%);
    --border: hsl(0 0% 15%);
    --link-color: lightblue;
  }
}

/* Tailwind Config */

@theme {
  /* Colors */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-border: var(--border);
  --color-link: var(--link-color);
}

/* GLOBALS */

@layer base {
  * {
    border-width: 0px;
    border-style: solid;
    border-color: --theme(--color-border);
  }

  body {
    min-height: 100dvh;
    background: --theme(--color-background);
    color: --theme(--color-foreground);
    font-family: var(--font-family);
    padding: 2rem 2rem;
  }

  #root {
    display: flex;
    flex-direction: column;
    gap: --spacing(8);
  }

  /* Gloabls - Typo */
  h1 {
    font-weight: 500;
    font-size: 2rem;
  }
  h2 {
    font-weight: 500;
    font-size: 1.5rem;
  }
  h3 {
    font-weight: 500;
    font-size: 1.17rem;
  }

  /* Globals - All */

  /* Globals - Link */
  a {
    color: --theme(--color-link);
    opacity: 0.8;
  }
  a:hover {
    opacity: 1;
  }

  /* Globals - Button */
  button {
    min-height: 2.25rem;
    padding: 0.5rem 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: --theme(--color-foreground);
    color: --theme(--color-background);
    border-width: 1px;
    border-radius: --theme(--radius);
    font-weight: 500;
    font-size: 0.9rem;
    cursor: pointer;
    opacity: 1;
  }
  button:hover {
    opacity: 0.8;
  }

  /* Globals - Input */

  input,
  textarea {
    min-height: 2.25rem;
    padding: 0 0.65em;
    display: inline-flex;
    border-width: 1px;
    border-radius: --theme(--radius);
    background: --theme(--color-background);
  }
  select {
    min-height: 2.25rem;
    padding: 0 0.65em;
    display: inline-flex;
    align-items: center;
    border-width: 1px;
    border-radius: --theme(--radius);
    background: --theme(--color-background);
    box-shadow: 0px 0px 0px 1px --theme(--color-border);
    border: none;
    border-right: 0.8rem solid transparent;
  }

  input[type="checkbox"] {
    width: 1.5rem;
    height: 1.5rem;
  }
}
